---
import Logo from "./Logo.astro";

---

<div class="w-full relative"

>
<!-- <section
class="absolute z-10 animate-fade-up flex justify-center items-center gap-8 flex-col"
>
<h1
  class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl font-tomaso"
>
  <span>E</span>
  <span>S</span>
  <span>L</span>
  <Logo
    class="h-9 w-auto md:h-[3.75rem] lg:h-24 scale-150"
    aria-label="A"
  />
  <span>N</span>
  <span>D</span>
</h1>

<p
  class="subtitle text-xl lg:text-2xl text-center text-wrap font-jura px-4"
>
            hello world
</p>


</section> -->




<video  class="w-full h-screen object-cover object-top animate-fade animate-ease-in-out duration-1000"
src="/video.mp4"

autoplay loop muted
style="clip-path:polygon(0  0 , 100% 0,100% 85%,50% 100%,0 85%)"
></video>
<video  class="
absolute -bottom-48
blur-3xl -z-40

"
src="/video.mp4"
autoplay loop muted
></video>
</div>